
@{
    ViewBag.Title = "LogIn";
}


<section class="checkout-section ptb-60">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                    <form action="http://webcotheme.com/honour/hon003/post" class="main-form full">
                        <div class="row">
                            <div class="col-xs-12 mb-20">
                                <div class="heading-part heading-bg">
                                    <h2 class="heading">Customer Login</h2>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="input-box">
                                    <label for="login-email">Email address</label>
                                    <input id="login-email" type="email" required placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="input-box">
                                    <label for="login-pass">Password</label>
                                    <input id="login-pass" type="password" required placeholder="Enter your Password">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="check-box left-side">
                                    <span>
                                        <input type="checkbox" name="remember_me" id="remember_me" class="checkbox">
                                    </span>
                                    <label for="remember_me">Remember Me</label>
                                </div>
                                <button name="submit" type="submit" class="btn-color right-side">Log In</button>
                            </div>
                            <div class="col-xs-12">
                                <a title="Forgot Password" class="forgot-password mtb-20" href="#">Forgot your password?</a>
                                <hr>
                            </div>
                            <div class="col-xs-12">
                                <div class="new-account align-center mt-20"> <span>New to Honour?</span> <a class="link" title="Register with Honour" href="register.html">Create New Account</a> </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="newsletter mt-30">
                <div class="newsletter-inner center-sm">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="newsletter-title">
                                <div class="newsletter-icon"> <img src="~/images/newsletter-icon.png" alt="Honour"> </div>
                                <h2 class="main_title">Subscribe Emails</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <form>
                                <input type="email" placeholder="Email Here...">
                                <button class="btn-color" title="Subscribe">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
